<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">



  <test name="Validating Login Page">
    <classes>
      <class name="framework.FrameworkBuild.HomePage"/>
       </classes>
  </test>
  <test name="Validating Navigation Bar">
    <classes>
       <class name="framework.FrameworkBuild.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="UploadAndDownload">
    <classes>
       <class name="framework.FrameworkBuild.UploadandDownloadFile"/>
    </classes>
  </test>
  
</suite> <!-- Suite -->
